	<a href="/calendar/view">Календарь</a> |
<% if session[:user_id] %>
	<a href="/events">События</a> |
	<a href="/calendars">Даты</a> |
	<a href="/user/logout" onclick="">Выход</a>
<% else %>
	<a href="/registration/singlein">Регистрация</a> |
	<a href="/user/login" onclick="">Вход</a>
<% end %>

